<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698879961190-jb371g9r5ujkcarnt0e874rmrq8ql42c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698879961190-jb371g9r5ujkcarnt0e874rmrq8ql42c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>698879961190-pchnmv8u33t0ae7cek96uenne5balvm5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTotD7XPklJh4EPqWwI3D6EKlMafGzFu4</string>
	<key>GCM_SENDER_ID</key>
	<string>698879961190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-ff4d7</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-ff4d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698879961190:ios:58ab2227a520d15e2d65a7</string>
</dict>
</plist>